<%= render 'menu' %>

<div class="col-md-9">
    <h2> ユーザ一覧</h2>
     <% if current_user.admin? %>
    <p><%= link_to '新規追加', new_user_path, :method=>:get , class: "btn btn-default" %></p>
     <% end %>
      <table class="table table-striped">
          <tr>
              <th>ID</th>
              <th>メールアドレス</th>
              <th>権限</th>
              <th>アクション</th>
          </tr>

          <%  @users.each do |user| %>


            <tr>
                <td><%= user.id  %></td>
                <td><%= user.email  %></td>

                <td><%= user.role  %></td>

                <td> <% if current_user.admin? %>
                      <%= link_to '編集',edit_user_path(user), :method=> :get ,class: "btn btn-default" %>
                        <%= link_to '削除',user_path(user), :method=> :delete, data:{confirm: '本当に削除してよろしいですか?'} , class: "btn btn-danger" %>
                        <% end %>
                    </td>
                </tr>

              <% end %>


          </table>
      </div>

      </div>
      </div>
      </div>

