<div class="users index">

    <div class="container">

        <!-- content -->
        <div class="row"> 

            <%= render 'menu' %>


            <div class="col-md-9">

                <h2>新規登録画面</h2>
                <%= simple_form_for(@user, url: users_path) do |f| %>
                 
                  
                   <%= f.input :email , label: 'メールアドレス',error: "メールアドレスを入力してください" %>
                  <%= f.input  :password , label: 'パスワード' ,error: 'パスワードを入力してください' %>
                 
                  <%= f.input  :password_confirmation,label: 'パスワード(確認)',error: 'パスワード(確認)を入力してください' %>
                  <%= f.input :role , collection: [["管理者", "admin"], ["ユーザ", "user"]],error: '権限を選択してください'%>
                  <%= f.button :submit,  "新規登録", class: "btn btn-primary" %>
                  <% end %>

              </div>
          </div>
      </div>
  </div>