
<div class="row" id="contact">
    <div class="col-md-6 col-md-offset-3"> 
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading" id="login"><h4><%='確認画面'%></h4></div>
            <div class="panel-body">

                  <table class="table">
                      <tr>
                          <th> タイトル</th>
                          <td>
                                <%= @contact.name %>
                            </td>
                        </tr>
                        <tr>
                            <th>メールアドレス</th>
                            <td>
                                  <%= @contact.email %>
                              </td>
                          </tr>
                          <tr>
                              <th> 内容</th>
                              <td>
                                    <%= simple_format(@contact.message) %>
                                </td>
                            </tr>
                        </table>

<%= simple_form_for(@contact, url: contacts_thanks_path) do |f| %>
                
                        <%= f.button :submit,  "送信", class: "btn btn-primary" %>
                        <% end %>



                    </div>
                </div>
            </div>
        </div>