<%= render 'menu' %>
<div class="users index">

    <div class="container">

        <!-- content -->
        <div class="row"> 

            <div class="col-md-9">

                <h2>編集画面</h2>
                <%= simple_form_for(@post, url: post_path(@post), html:{:method=>:patch}) do |f| %>

   
                
                  <%= f.input :title , label: 'タイトル',error: "タイトルを入力してください" %>
                  <%= f.input  :body , label: 'お知らせ内容' ,error: '内容を入力してください' %>
                  <%= f.button :submit,  "更新", class: "btn btn-primary" %>
                  <% end %>



                  <%= link_to "戻る", :back %>

              </div>

          </div>
      </div>
  </div>